{{!-- <article>

    {{userData}}
</article> --}}

{{!-- {{userData.id}}
{{userData.username}}
{{userData.email}} --}}
<main class="container">
    <h6>Current Blogs</h6>
        <h1>Your Previous Posts</h1>
        <ol>
            {{#each posts as |post|}}
            <li>{{>post post}}</li>
            {{/each}}
        </ol>
</main>